body {
  text-align: center;   
}  
Header{
  background:#69c0ff!important;
}
Footer{
  background: #feffff!important;
}  
.content-main{
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(218,242,255,1) 0%, rgba(255,255,255,1) 100%);
}